<html>
    <head>
        <title>Edit List Of Books</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    <div>
        <form action="" class="ui-form">
            <div class="form-row">
                <input type="text" id="name"><label for="name">Наименование</label>
            </div>
            <div class="form-row">
                <input type="text" id="author"><label for="author">Автор</label>
            </div>
            <div class="form-row">
                <input type="text" id="pages"><label for="pages">Количество страниц</label>
            </div>
            <p><input type="submit" value="Submit"></p>
        </form>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Автор</th>
                <th>Количество страниц</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Тёмная башня</td>
                    <td>Стивен Кинг</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>Молитва об Оуэне Мини</td>
                    <td>Джон Ирвинг</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>Мастер и Маргарита</td>
                    <td>Михаил Афанасьевич Булгаков</td>
                    <td>600</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    </body>
</html>