<html>
    <head>
        <title>List Of Books</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    <div>
        <form>
            <label>Наименование</label>
            <input name="name" type="text"><br><br>
            <label>Автор</label>
            <input name="author" type="text"><br><br>
            <label>Количество страниц</label>
            <input name="pages" type="text"><hr>
        </form>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Автор</th>
                <th>Количество страниц</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Тёмная башня</td>
                    <td>Стивен Кинг</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>Молитва об Оуэне Мини</td>
                    <td>Джон Ирвинг</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>Мастер и Маргарита</td>
                    <td>Михаил Афанасьевич Булгаков</td>
                    <td>600</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    </body>
</html>